@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@400;800&family=Poppins:wght@200;500&display=swap');
*{
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
    margin:0;
}
.maxwidth{
    max-width: 1920px;
}
nav{
    margin: auto;
    display: flex;
    height: 48px;
    justify-content: space-around;
}
ul{
    display: flex;
    margin-left: 500px;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    height: 21px;
}
li{
    width: 196px;
    height: 21px;
    margin: 0px  15px;
    font-weight: 400;
    font-size: 14px;
    list-style: none;
}
.img1{
    width: 220px;
    height: 20.83px;
    background-image: url(/image\ 2.png);
}
.img2{
    width: 48px;
    height: 48px;
    background-image: url(/image\ 3.png);
    display: flex;
}
.h1{
    width: 500px;
    height: 105px;
    font-weight: 600;
    font-size: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:start;
    margin: auto;
}
.img3{
    height: 100vh;
    width: 100%;
    background-image: url(/image\ 1.png);  
    background-size: contain; 
    background-repeat: no-repeat; 
}
section{
    display: flex;
}
.marginauto{
    margin: auto;
}
.section2-1{
    background-image: url(/image\ 5.png);
    background-size: cover;
    width: 864px;
    height: 486px;
    color: white;
    flex: 1;
}
.section2 h1{
    margin-top: 34px;
    margin-left:42px;
    width: 298px;
    height: 72px;
    font-size: 30px;
}
.section2-2{
    background-image: url(/image\ 6.png);
    flex: 1;
    color: white;
}
.section2-2 h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    width: 309px;
    height: 72px;
    position: absolute;
    right: 0;
    margin-top: 34px;
    margin-right: 30px;
}
.section3{
    display: flex;
    flex-direction: column;
}
.section3-2{
    display: flex;
    justify-content: space-evenly;
    margin:auto;
    height: 480px;
}
.section3 h1{
    font-weight: 600;
    font-size: 32px;
    width: 307px;
    height: 48px;
    margin:30px 0px;
}
.div1{
    background-image: url(/image\ 7.png);
}
.div2{
    background-image:url(/image\ 8.png);
}
.div3{
    background-image: url(/image\ 7\ \(1\).png);
}
.div2 :hover{
    background-color: blueviolet;
    color: white;
}
.div4{
    background-image: url(/image\ 7\ \(2\).png);
}
.section3 .section3-2 .div{
    width: 480px;
    height: 480px;
}
.section3 .section3-2 .div h1{
    position: relative;
    top: 400px;
    left: 110px;
}
.div5{
    background-image: url(/image\ 7\ \(3\).png);
}
.div6{
    background-image:url(/image\ 8\ \(1\).png);
}
.div7{
    background-image: url(/image\ 7\ \(4\).png);
}
.div8{
    background-image: url(/image\ 7\ \(5\).png);
}
.footer{
    margin-top: 119px;
    height: 10vh;
}
.gg{
    display: flex;
    justify-content: center;
}
